/* Button Login */
.index_button_login {
  line-height: 1;
  box-sizing: border-box;
  height: auto;
  background-color: #fff;
  color: #0d172a;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.index_button_login:hover {
  background-color: #7b93b9;
  color: #fff;
}

@media (min-width: 768px) {
  .index_button_login {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

/* Modal styles */
.modal-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.603);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal h1 {
  margin: 0;
  text-align: center;
  margin-left: 200px;
  user-select: none;
}

.mb-3 {
  user-select: none;
}

.form-check {
  margin-left: 180px;
}

.form-check-label {
  margin-left: -200px;
}

.modal p {
  opacity: 0.7;
  font-size: 14px;
}